body,ul,li,h1,h2,h3,h4,h5,h6,p{
    padding:0;
    margin:0;
    font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.item-box{
    display:flex;
    padding:0 5%;
    justify-content: center;
    align-items: center;
}
.item-box div{
    /* width:25%; */
    margin-right:.4%;
    position: relative;
    overflow: hidden;
}
.item-box div:after{
    content:"";
    display:block;
    clear: both;
}
.clear:after{
    content:"";  
　height:0;  
　visibility:hidden;  
　display:block;  
　clear:both; 
}
.item-box div p{
    position: relative;
    /* position: absolute; */
    top:0;
}
.item-box .ab{
    position: absolute;
    z-index: 99;
    height:100%;
    width:100%;
    background:rgba(0, 0, 0, .5) url('../img/sy.png');
    /* url('../img/sy.png') */
    background-size:100% 100%; 
    top:88%;
    transition: all .3s ease-in;
}
.item-box .ab[bg=jz]{
    background-image: url('../img/jz.png');
}
.item-box .ab[bg=sl]{
    background-image: url('../img/sl.png');
}
.item-box .ab[bg=jp]{
    background-image: url('../img/jp.png');
}
.item-box .ab[bg=sy]{
    background-image: url('../img/sy.png');
}
.item-box .ab:hover,.item-box .ab.active{
    top:0%;
}
img.img-responsive{
    width:100%;
}